# User-specific Visual Studio configuration files
*.suo
*.user

# Roslyn IntelliSense Cache
.vs/

# NuGet packages folder
packages/

# Build output
*/bin/
*/obj/

# Test Results
TestResults/

# NuGet build output
Build/nuget/
